/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 h1 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
 }

 h2 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
 }

 h3 {
   font-family: 'Open Sans', sans-serif;
 }

 .top-bar {
   margin-bottom: 30px;
   background-color: #F26A60;
 }

 .name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
 }

 .pet-feed {
   width: 70%;
   margin: 0 auto;
}

.user-pets {
  width: 70%;
  margin: 0 auto;
}

.logout {
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

.button {
  margin-bottom: 10px;
  background-color: #F26A60;
}

.search-info {
  background: url('banner.jpeg') no-repeat center center;
  background-size:contain;
}

.search-content {
  width: 70%;
  margin-left: 14%;
  margin-right: 15%;
  height: 40%;
  padding: 10%;
  margin-top: 0;
}

p {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.link-color {
  color: #3F7BDB;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.pet-icon {
  text-align: center;
  padding: 36px;
  margin: 36px;
}

table {
  border:none;
}

.feature-title {
  padding-top: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.pet-content{
  width: 70%;
  margin-left: 14%;
  margin-right: 15%;
  text-align: center;
}
